
<ion-content [fullscreen]="true"> 
  <div class="container">
  <ion-img 
  class="main-img" src="../../assets/images/Main img (2).png"
  alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
  <form #form="ngForm" [formGroup]="resetPasswordForm"  (ngSubmit)="validate()">
      <div class="inputs-group">
        
        <div class="d-none">
          <ion-label position="floating" class="user-name" >البريد الاليكتروني</ion-label>
          <ion-item >
            <ion-input class="" placeholder="name@example.com" formControlName="email" ></ion-input>
          </ion-item>
        </div>
    
        <!-- <div class="error-container">
          <ng-container *ngFor="let validation of validations?.email">
            <div class="error-message-validtion" *ngIf="resetPasswordForm?.get('email').hasError(validation.type) && (resetPasswordForm?.get('email').dirty || resetPasswordForm?.get('email').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation?.message }}</span>
            </div>
          </ng-container>
        </div> -->


        <ion-label position="floating" class="user-name">كلمة المرور الجديدة</ion-label>
        <ion-item>
          <ion-icon  [name]="(inputType == 'password') ? 'eye' : 'eye-off'" slot="start" (click)="inputType = (inputType == 'password') ? 'text' : 'password';"></ion-icon>
          <ion-input [type]="inputType" class="" formControlName="new_password" ></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validations?.new_password">
            <div class="error-message-validtion" *ngIf="resetPasswordForm?.get('new_password').hasError(validation.type) && (resetPasswordForm?.get('new_password').dirty || resetPasswordForm?.get('new_password').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation?.message }}</span>

            </div>
          </ng-container>
        </div>

      </div>
      <div class="continue-btn">
        <ion-button type="submit">تسجيل</ion-button>
      </div>
  </form>
</div>
</ion-content>

