<!-- <ion-content class="cc">
    <ion-router-outlet></ion-router-outlet>
</ion-content> -->


<ion-tabs dir="rtl">


    <ion-tab-bar slot="bottom" >
      <ion-tab-button (click)="toSubjects()">
        <ion-icon name="home"></ion-icon>
        <ion-label>المواد</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="home">
        <ion-icon name="heart"  ></ion-icon>
        <ion-label>المفضلة</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <ion-icon name="settings"></ion-icon>
        <ion-label>المزيد</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>