<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- <ion-title size="large">Blank</ion-title> -->
    </ion-toolbar>
  </ion-header>

  <div id="container">
  
    <ion-img src="../../assets/images/schoopedia font 1.png"
     alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>


     <p class="let-help-you">
            دعنا نساعدك في الحصول علي
            الدرجات النهائية
     </p>

     <p class="please-register">
           الرجاء تسجيل الدخول لعرض 
          افضل الفيديوهات التعليمية
     </p>

     <ion-button  (click)="checkToken()">دخول</ion-button>
  </div>
</ion-content>
