
<ion-content [fullscreen]="true"> 
  <div class="container">
    <!-- [ngClass]="{'v-hiiden' :  hideImage }" -->
  <ion-img 

  class="main-img" src="../../assets/images/Main img (2).png"
  alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
  <form #form="ngForm" [formGroup]="forgetPasswordForm"  (ngSubmit)="validate()">
      <div class="inputs-group">
        <ion-label position="floating" class="user-name" >البريد الاليكتروني</ion-label>
        <ion-item >
          <ion-input class="" placeholder="name@example.com" formControlName="email"></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validations?.email">
            <div class="error-message-validtion" *ngIf="forgetPasswordForm?.get('email').hasError(validation.type) && (forgetPasswordForm?.get('email').dirty || forgetPasswordForm?.get('email').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation?.message }}</span>
            </div>
          </ng-container>
        </div>
     
      </div>
      <div class="continue-btn">
        <ion-button type="submit">إرسال</ion-button>
      </div>
  </form>
</div>
</ion-content>

